@import "src/styles/variables";
@import "src/styles/mixins";

.container {
  margin: 3.2rem 1.6rem 3.2rem 3.2rem;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: 930px) {
    height: 40rem;
    margin: 3.2rem;
  }

  @media only screen and (max-width: 414px) {
    margin: 1.6rem;
    height: 45rem;
  }
}