@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;

  .inputContainer {
    position:relative;
    padding:0;
    margin:0;

    input {
      height: 4.8rem;
      border: none;
      padding: 0.8rem 1.6rem;
      display: flex;
      justify-content: flex-end;
      font-size: $inputTextSize;
      font-weight: 700;
      font-family: "Roboto Mono", sans-serif;
      background-color: $lightBlueFields;
      color: $primaryBlue;
      text-align: end;
      border-radius: 0.8rem;
      width: 100%;

      &:focus {
        box-shadow: 0 0 0 0.2rem $darkBlueFields;
        outline: none;
      }
      &::placeholder {
        color: $darkBlueFields;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    img {
      position: absolute;
      width: 1.6rem;
      height: 1.6rem;
      top: 1.6rem;
      left: 1.6rem;
    }
  }
}

