@import "src/styles/variables";

.container {

  h2 {
    margin-bottom: 1.8rem;
  }

  .gridButtons {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 1.5rem;
    position: relative;

    .button {
      position: relative;
      width: 11.6rem;
      height: 4.8rem;
      background-color: $primaryBlue;
      border-radius: 0.8rem;

      input, label {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
      }

      label {
        font-size: $inputTextSize;
        color: $mainWhite;
        text-align: center;
        padding-top: 0.7rem;
      }

      input[type="radio"] {
        opacity: 0.01;
        z-index: 100;
      }

      input[type="radio"]:hover+label {
        background-color: $darkBlueFields;
        border-radius: 0.8rem;
      }

      input[type="radio"]:checked+label {
        background-color: $secondaryGreen;
        border-radius: 0.8rem;
        color: $primaryBlue;
      }
    }
  }
}