@import "src/styles/variables";

.container {
  background-color: $primaryBlue;
  padding: 5.6rem 4rem 4rem;
  border-radius: 1.6rem;
  width: 41.3rem;
  margin: 3.2rem 3.2rem 3.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: 930px) {
    height: 40rem;
    margin: 3.2rem;
  }

  @media only screen and (max-width: 414px) {
    width: 100%;
    margin: 3.2rem 0 0 0;
    border-radius: 0;
  }

  .results {

    .resultPrice {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3.2rem;

      h2 {
        color: $mainWhite;
        margin: 0 0 0.5rem 0;
      }

      .info {

      }

      .cost {

        .priceNumber {
          font-size: $biggestTextSize;
          color: $secondaryGreen;
        }
      }
    }
  }

  button {
    width: 100%;
    background-color: $secondaryGreen;
    color: $primaryBlue;
    font-size: $additionalInputTextSize;
    font-weight: 700;
    font-family: "Roboto Mono", sans-serif;
    border: none;
    border-radius: 0.8rem;
    padding: 1.1rem 0;
    cursor: pointer;

    &:hover {
      background-color: $mainWhite;
    }
    &:active {
      background-color: $lightBlueFields;
    }
  }
}